/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* !BASE GENERAL STYLES */

   html {
     font-size: 16px;
     height: 100%;
     width: 100%;
   }

   body {
    width: 100%;
    margin: 0;
   }

   ul,
   ol {
    list-style: none;
    margin: 0;
    padding: 0;
   }

   h2 {
    text-align: center;
    text-decoration: underline;
    width: 100%;
   }

   p {
    text-align: center;
   }

   address.email {
     font-weight: bolder;
     text-align: center;
   }

   /* !HEADER/FOOTER */

   header,
   footer {
    background-color: darkred;
    width: 100%;
   }

   /* !HEADER */
    
    header .h1-and-figure-wrapper {
      display: flex;
      flex-flow: row nowrap;
   }

   figure.header-logo-container {
     height: 25%;
     margin: 0;
    }
    
    h1 {
      text-decoration: underline;
    }
    
    h1 a {
      color: black;
    }

    nav {
      background-color: black;
      font-size: 2rem;
      text-align: center;
    }

    .nav-button {
      font-size: 2rem;
    }

    ul.nav-list li a {
      color: white;
    }
    
    .show-nav {
      display: none;
    }
    
   /* !FOOTER */
   footer {
    margin: 4% 0;
   }

   footer h2 {
    padding-top: 6%;
   }

   figure.footr-logo-container {
    text-align: center;
   }

   footer .email {
    color: white;
    font-size: larger;
   }

   footer p {
    font-weight: bolder;
    font-size: larger;
   }

   p.add-calendar,
   p.add-cal-other-apps a,
   p.add-cal-google a {
    color: antiquewhite;
   }

   /* *For hiding until the content is available */
   /* header */
   nav ul.nav-list li.donate,
   nav ul li.store,
   nav ul li.footage,
   /* home pg*/
   #score-prev-game p#vid,
   section.social-card,
   section#video-card,
   figure.highlight,
   p.links {
    display: none;
   }


   /* !HOME PAGE */
   #score-prev-game .click-below {
    font-size: larger;
    margin-bottom: 0;
   }

   #score-prev-game .links-to-accnts {
    display: flex;
    justify-content: center;
  }

  p#score,
  p#vid {
    /* *below only until have link */
    /* *width: 50%; */
    font-size: larger;
    font-weight: bolder;
  }

  #ticket-card figure.qr-code-smaller {
    display: flex;
    justify-content: center;
  }

  /* mobile */
  #ticket-card figure.qr-code-large {
    display: none;
  }

  #ticket-card p.ticket-direct-link {
    text-align: center;
  }

  
  /* !COACHES PAGE */
  .head-coach,
  .assistant-coach {
    font-size: larger;    
  }

  .head-coach h3,
  .assistant-coach h3 {
    text-indent: 6%;
  }

  p.coach-name,
  p.assistant-coach {
    font-weight: bold;
  }

  /* !PLAYERS PAGE */
  ul.player-directory-mobile, 
  ul.player-directory-non-mobile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  ul.player-section-titles {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2%;
  }

  /* !mobile-hide and shown instead in larger formats */
  ul.player-directory-non-mobile {
    display: none;
  }

  ul#player-list {
    width: 100%;
  }

  .player-section-titles li,
  #player-list li {
    display: flex;
    justify-content: center;
    width: 100%;
  }

    .player-section-titles li {
      font-size: larger;
      text-decoration: underline;
    }

  /* *hid figure and links lines w/i gen hide block until viable to show b/c we don't have the content yet */

  #player-list li p.name,
  /* #player-list li p.position, */
  #player-list li p.jv-or-var,
  #player-list li p.year {
    display: flex;
    flex-flow: row nowrap;
    font-size: large;
    justify-content: space-around;
    margin: 2%;
    /* when there no longer using 25% until b/c don't have data on positions */
    /* width: 25%; */
    width: 30%;
  }


  /* !CALENDAR PAGE */
  article#g-cal {
    width: 100%;
  }

  #g-cal h3 {
    display: none;
  }

  #g-cal div.calendar-agenda-view,
  #g-cal div.calendar-week-view,
  #g-cal div.calendar-month-view {
    margin: 0 4%;
  }
  
  div.calendar-agenda-view,
  div.calendar-week-view,
  div.calendar-month-view {
    /* Responsive iFrame */
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
   }
   
   .calendar-agenda-view iframe,
   div.calendar-week-view iframe,
   div.calendar-month-view iframe,
   .vresponsive-iframe-container object,
   .vresponsive-iframe-container embed {
      /* Responsive iFrame */
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
   }
   
   /* !Hiding calendars for mobile view */
   div.calendar-week-view,
   div.calendar-month-view {
    display: none;
   }

   .docs h3,
   #docs-list {
    text-align: center;
   }

   ul#docs-list li {
    font-size: large;
    padding-top: 3%;
   }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* !HEADER */
    header {
      font-size: large;
    }

    .header-logo-container img {
      padding-top: 10%;
    }

    /* *.header-logo-container {
      margin: 10% 0 0 0;
    } */
  
    nav li a {
      font-size: larger;
    }

  .h1-and-figure-wrapper {
    justify-content: space-around;
  }



  nav {
    height: 60%;
  }

  .nav-button {
    display: none;
  }

  ul.nav-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-size: medium;
  }

  .tickets-2 {
    display: none;
  }

  /* !FOOTER */
  footer h2 {
    padding-top: 3%;
    font-size: xx-large;
  }

  /* !COACHES PG */
  .coach-name {
    text-align: left;
    text-indent: 11%;
  }

  /* !PLAYERS PG */
  ul.player-directory-mobile {
    display: none;
  }

  ul.player-directory-non-mobile {
    display: flex;
  }
  
  /*  !CALENDAR PG */
  
  div.calendar-week-view,
  div.calendar-agenda-view {
   display: none;
  }
  
  div.calendar-month-view {
    display: flex;
  }

  .docs h3,
  #docs-list {
   text-align: center;
  }

  .docs h3 {
    font-size: x-large;
  }

  ul#docs-list li {
   font-size: larger;
   padding-top: 3%;
  }
  
}

@media only screen and (min-width: 1200px) {
  /* !HEADER */
  header {
    font-size: x-large;
  }

  nav li a {
    font-size: x-large;
  }

  /* !FOOTER */
  footer h2 {
    padding-top: 2%;
    font-size: xx-large;
  }

  footer p {
    font-size: x-large;
  }

  /*  !CALENDAR PG */
/* *NEED TO WORK ON BELOW CODE FOR THIS @MEDIA AFTER COMMITTING & MERGE PREVIOUS CHANGES */
  article#g-cal {
    width: 100%;
  }
  
  div.calendar-agenda-view,
  div.calendar-week-view {
   display: none;
  }

  div.calendar-month-view {
  /* div.calendar-week-view, */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .docs h3,
  #docs-list {
    font-size: 1.5em;
    padding-left: 6%;
    text-align: left;
  }

  .docs h3 {
    font-size: xx-large;
  }

  ul#docs-list {
    padding-left: 8%;
  }

  ul#docs-list li {
   /* font-size: 1.5em; */
   padding-top: 3%;
  }

}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

